<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Employee DB</title>
</head>

<body>
  <header class="v-header container">
    <div class="fullscreen-video-wrap">
      <video src="back.mp4" autoplay="true" loop="true"></video>
    </div>
    <div class="header-overlay"></div>
    <div class="header-content">
      <nav class="navbar navbar-expand-xl navbar-light" style="background-color: black; height:8%;">
        <a class="navbar-brand" href="/" style="font-size: 2.2rem; color:white">Employee DB</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link myclass" href="/list" style="color:white;font-size:2.2rem;margin-left:45px">LIST<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/new" style="font-size:2.2rem; color:white; margin-left:275px">+Add Employee<span class="sr-only">(surrent)</span></a>
            </li>
          </ul>
        </div>
      </nav>
<div>
<h3 class="container" style="margin-top: 100px;color:black"> Fill the below form:</h3>

<div class="container" style="margin-top: 30px">
<form action="/new" method="POST">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Name</label>
      <input type="text" class="form-control" id="inputEmail4" placeholder="Name" name="fullname">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Designation</label>
      <input type="text" class="form-control" id="inputPassword4" placeholder="Designation" name="designation">
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">Address</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="Address" name="address">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">Salary</label>
      <input type="text" class="form-control" id="inputCity" name="salary">
    </div>
    <div class="form-group col-md-6">
      <label for="inputState">State</label>
      <select id="inputState" class="form-control" name="state">
        <option selected>Choose...</option>
        <option>Karnataka</option>
        <option>Haryana</option>
        <option>Tamil Nadu</option>
        <option>Kerala</option>
        <option>Punjab</option>
        <option>Goa</option>
      </select>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Add Employee to DB</button>
</form>
</div>
</div>
</div>
</header>
</body>
